# 1. Data preprocessing

In [1]:
import pandas as pd
import numpy as np

import geopandas as gpd

## 1.1. Reading data

In the cells below, dataset are being read and translated from Catalan to English.

# Spain

In [2]:
population_spain = pd.read_csv('../data/Spain/population/demo_pjanbroad_Data.csv')

In [3]:
population_spain = population_spain[['TIME', 'GEO', 'AGE', 'Value']]

In [4]:
population_spain['Value'] = [float(population_spain.Value.values[i].replace(' ', '')) for i in range(len(population_spain['Value']))]

In [5]:
population_spain

,TIME,GEO,AGE,Value
0,2010,European Union - 28 countries (2013-2020),Total,503170618.0
1,2010,European Union - 28 countries (2013-2020),Less than 15 years,78973140.0
2,2010,European Union - 28 countries (2013-2020),From 15 to 64 years,336349729.0
3,2010,European Union - 28 countries (2013-2020),65 years or over,87847743.0
4,2010,Spain,Total,46486619.0
...,...,...,...,...
75,2019,European Union - 28 countries (2013-2020),65 years or over,102761596.0
76,2019,Spain,Total,46937060.0
77,2019,Spain,Less than 15 years,6930117.0
78,2019,Spain,From 15 to 64 years,30901368.0
79,2019,Spain,65 years or over,9105575.0

In [6]:
x = population_spain.query('TIME == 2010').query('GEO == "Spain"').query('AGE == "65 years or over"').Value.values[0]
y = population_spain.query('TIME == 2010').query('GEO == "Spain"').query('AGE == "Total"').Value.values[0]
x/y

In [7]:
x = population_spain.query('TIME == 2019').query('GEO == "Spain"').query('AGE == "65 years or over"').Value.values[0]
y = population_spain.query('TIME == 2019').query('GEO == "Spain"').query('AGE == "Total"').Value.values[0]
x/y

0.1680139396672406

In [8]:
x = population_spain.query('TIME == 2010').query('GEO == "European Union - 28 countries (2013-2020)"').query('AGE == "65 years or over"').Value.values[0]
y = population_spain.query('TIME == 2010').query('GEO == "European Union - 28 countries (2013-2020)"').query('AGE == "Total"').Value.values[0]

In [9]:
x/y

0.17458837988032122

# Catalonia

In [10]:
population_cat = pd.read_excel('../data/Catalonia/catalonia_population.xlsx')

In [11]:
population_cat

    TIME        GEO                AGE     Value
0   2010  Catalonia         < 15 years  1146.787
1   2010  Catalonia        15-64 years  5083.988
2   2010  Catalonia  65 years and more  1231.269
3   2019  Catalonia         < 15 years  1183.217
4   2019  Catalonia        15-64 years  4997.309
5   2019  Catalonia  65 years and more  1438.968
6   2011  Catalonia         < 15 years  1169.734
7   2011  Catalonia        15-64 years  5073.041
8   2011  Catalonia  65 years and more  1259.078
9   2012  Catalonia         < 15 years  1185.248
10  2012  Catalonia        15-64 years  5047.976
11  2012  Catalonia  65 years and more  1282.174
12  2013  Catalonia         < 15 years  1187.896
13  2013  Catalonia        15-64 years  4986.673
14  2013  Catalonia  65 years and more  1304.399
15  2014  Catalonia         < 15 years  1185.249
16  2014  Catalonia        15-64 years  4914.439
17  2014  Catalonia  65 years and more  1334.206
18  2015  Catalonia         < 15 years  1184.905
19  2015  Catalonia        15-64 years  4881.715
20  2015  Catalonia  65 years and more  1358.134
21  2016  Catalonia         < 15 years  1185.410
22  2016  Catalonia        15-64 years  4887.561
23  2016  Catalonia  65 years and more  1375.361
24  2017  Catalonia         < 15 years  1187.963
25  2017  Catalonia        15-64 years  4912.108
26  2017  Catalonia  65 years and more  1396.205
27  2018  Catalonia         < 15 years  1187.701
28  2018  Catalonia        15-64 years  4938.813
29  2018  Catalonia  65 years and more  1417.311

In [138]:
x = population_cat.query('TIME == 2010').query('GEO == "Catalonia"').query('AGE == "65 years and more"').Value.values[0]
y = population_cat.query('TIME == 2010').query('GEO == "Catalonia"').groupby(['TIME', 'GEO'])['Value'].sum().values[0]
x/y

0.16500425352624562

In [139]:
x = population_cat.query('TIME == 2019').query('GEO == "Catalonia"').query('AGE == "65 years and more"').Value.values[0]
y = population_cat.query('TIME == 2019').query('GEO == "Catalonia"').groupby(['TIME', 'GEO'])['Value'].sum().values[0]
x/y

0.18885348554641557

# Barcelona

### Geospatial data about districts, gran barris and barris of Barcelona

In [12]:
districts = gpd.read_file('../data/bcn-geodata-master/districtes/districtes.geojson')

In [13]:
barris = gpd.read_file('../data/bcn-geodata-master/barris/barris.geojson')

In [14]:
gran_barris = gpd.read_file('../data/bcn-geodata-master/gran-barri/gran-barri.geojson')

### Time series data

### Permanent addresses of the city of Barcelona with members of 65 years of age or older (2007-2019)

In [15]:
# Time range of this dataset
years = np.arange(2007,2020,1)

In [16]:
# Reading data into a list
dfs = []
for i in years:
    dfs.append(pd.read_csv('../data/permanent_addresses_65_above/{}_domicilis_65_anys_i_mes.csv'.format(i)))

In [17]:
# Translating data from Catalan to English
translating = {'Cap persona de 65 anys i més' : 'No person aged 65 and over', 
                   '1 persona' : '1 person', '2 persones' : '2 people', '3 persones' : '3 people', 
                   '4 o més persones' : '4 or more people', '1 persona de 65 anys i més' : '1 person',
                   '2 persones de 65 anys i més' : '2 people', '3 persones de 65 anys i més' : '3 people', 
                   '4 o més persones de 65 anys i més' : '4 or more people'}

In [18]:
# The same columns names for all dataframes - in Catalan
columns1 = {'Any': 'Any', 'Codi_districte': 'Codi_Districte', 'Nom_districte': 'Nom_Districte',
                               'Codi_barri': 'Codi_Barri', 'Nom_barri': 'Nom_Barri', 'Persones': 'Persones',
                               'Nombre': 'Nombre'}

# Translating column names to English
columns2 = {'Any': 'Year', 'Codi_Districte': 'District_code', 'Nom_Districte': 'District_name',
                               'Codi_Barri': 'Barri_code', 'Nom_Barri': 'Barri_name', 'Persones': 'People',
                               'Nombre': 'Number'}

In [19]:
for df in dfs:
    for i in df.Persones.unique():
        df['Persones'].replace(i, translating[i], inplace=True)
    df.rename(columns = columns1, inplace=True)
    df.rename(columns = columns2, inplace=True)

In [20]:
# Concatenating into one dataframe
permanent_addresses = pd.concat(dfs)

In [21]:
permanent_addresses.head()

,Year,District_code,District_name,Barri_code,Barri_name,People,Number
0,2007,1,Ciutat Vella,1,el Raval,No person aged 65 and over,11810
1,2007,1,Ciutat Vella,2,el Barri Gòtic,No person aged 65 and over,4904
2,2007,1,Ciutat Vella,3,la Barceloneta,No person aged 65 and over,4484
3,2007,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",No person aged 65 and over,6766
4,2007,2,Eixample,5,el Fort Pienc,No person aged 65 and over,8281

### Reading registers of inhabitants' population that lives alone classified by five years gap and sex in the city of Barcelona (2007-2019)

In [22]:
# Time range of this dataset
years = np.arange(2007,2020,1)

In [23]:
# Reading data into a list
dfs = []
for i in years:
    dfs.append(pd.read_csv('../data/living_alone/{}_padro_viu_sola_edat_quinquennal.csv'.format(i)))
    
# Concatenating into one dataframe
living_alone = pd.concat(dfs)

In [24]:
living_alone.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat_quinquennal,Nombre
0,2007,1,Ciutat Vella,1,el Raval,Home,< 24 anys,94
1,2007,1,Ciutat Vella,2,el Barri Gòtic,Home,< 24 anys,39
2,2007,1,Ciutat Vella,3,la Barceloneta,Home,< 24 anys,36
3,2007,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,< 24 anys,32
4,2007,2,Eixample,5,el Fort Pienc,Home,< 24 anys,45

In [25]:
# Translating data from Catalan to English
translating1 = {}
for i in living_alone['Edat_quinquennal'].unique():
    translating1[i] = i.replace('anys', 'years').replace('any', 'year').replace('i més', 'and more')

translating2 = {'Home': 'Man', 'Dona': 'Woman'}

In [26]:
# Translating column names to English
columns = {'Any': 'Year', 'Codi_Districte': 'District_code', 'Nom_Districte': 'District_name', 
                        'Codi_Barri': 'Barri_code', 'Nom_Barri': 'Barri_name', 'Sexe': 'Sex', 
                        'Edat_quinquennal': 'Age_group', 'Nombre': 'Number'}

In [27]:
for i in living_alone.Edat_quinquennal.unique():
    living_alone['Edat_quinquennal'].replace(i, translating1[i], inplace=True)
for j in living_alone.Sexe.unique():
    living_alone['Sexe'].replace(j, translating2[j], inplace=True)
living_alone.rename(columns = columns, inplace=True)

In [28]:
living_alone['Age_group2'] = living_alone['Age_group']

In [29]:
# Creating dictionary for age groups
d = {}
for i in range(25,61,5):
    d[str(i)+"-"+str(i+4)+" years"] = "25-64 years"
for i in range(65,100,5):
    d[str(i)+"-"+str(i+4)+" years"] = "65 years and more"
d["< 24 years"] = "< 24 years"
d["< 25 years"] = "< 24 years"
d["95 years and more"] = "65 years and more"
d["100 years and more"] = "65 years and more"

In [30]:
for i in living_alone['Age_group2'].unique():
    living_alone['Age_group2'].replace(i, d[i], inplace=True)

In [31]:
living_alone.head()

,Year,District_code,District_name,Barri_code,Barri_name,Sex,Age_group,Number,Age_group2
0,2007,1,Ciutat Vella,1,el Raval,Man,< 24 years,94,< 24 years
1,2007,1,Ciutat Vella,2,el Barri Gòtic,Man,< 24 years,39,< 24 years
2,2007,1,Ciutat Vella,3,la Barceloneta,Man,< 24 years,36,< 24 years
3,2007,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Man,< 24 years,32,< 24 years
4,2007,2,Eixample,5,el Fort Pienc,Man,< 24 years,45,< 24 years

### Population by age and sex (2010-2019)

https://opendata-ajuntament.barcelona.cat/data/en/dataset/est-ine-edat-any-a-any

In [32]:
# Time range of this dataset
years = np.arange(2010,2020,1)

In [33]:
# Reading data into a list
dfs = []
for i in years:
    dfs.append(pd.read_csv('../data/population/{}_ine_edat_any_a_any_per_sexe.csv'.format(i)))
    
# Concatenating into one dataframe
population = pd.concat(dfs)

In [34]:
population.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Sexe,Edat any a any,Nombre
0,2010,1,Ciutat Vella,1,el Raval,Home,0 anys,261
1,2010,1,Ciutat Vella,2,el Barri Gòtic,Home,0 anys,66
2,2010,1,Ciutat Vella,3,la Barceloneta,Home,0 anys,64
3,2010,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Home,0 anys,102
4,2010,2,Eixample,5,el Fort Pienc,Home,0 anys,130

In [35]:
# Translating data from Catalan to English
translating1 = {}
for i in population['Edat any a any'].unique():
    translating1[i] = i.replace('anys', 'years').replace('any', 'year').replace('i més', 'and more')

translating2 = {'Home': 'Man', 'Dona': 'Woman'}

In [36]:
# Translating column names to English
columns = {'Any' : 'Year', 'Codi_Districte': 'District_code', 'Nom_Districte' : 'District_name', 
                      'Codi_Barri' : 'Barri_code', 'Nom_Barri' : 'Barri_name', 'Sexe' : 'Sex', 
                      'Edat any a any' : 'Age', 'Nombre': 'Number'}

In [37]:
for i in population['Edat any a any'].unique():
    population['Edat any a any'].replace(i, translating1[i], inplace=True)
for j in population.Sexe.unique():
    population['Sexe'].replace(j, translating2[j], inplace=True)
population.rename(columns = columns, inplace=True)

In [38]:
population['Age_group'] = population['Age']

In [39]:
d = {}
for i in range(15):
    d[str(i) + " years"] = "< 15 years"
for i in range(15,65):
    d[str(i) + " years"] = "15-64 years"
for i in range(65,100):
    d[str(i) + " years"] = "65 years and more"
d['1 year'] = "< 15 years"
d['95 years and more'] = "65 years and more"
d['99 years and more'] = "65 years and more"

In [40]:
for i in population['Age_group'].unique():
    population['Age_group'].replace(i, d[i], inplace=True)

In [41]:
population.head()

,Year,District_code,District_name,Barri_code,Barri_name,Sex,Age,Number,Age_group
0,2010,1,Ciutat Vella,1,el Raval,Man,0 years,261,< 15 years
1,2010,1,Ciutat Vella,2,el Barri Gòtic,Man,0 years,66,< 15 years
2,2010,1,Ciutat Vella,3,la Barceloneta,Man,0 years,64,< 15 years
3,2010,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Man,0 years,102,< 15 years
4,2010,2,Eixample,5,el Fort Pienc,Man,0 years,130,< 15 years

In [42]:
living_alone.query('Year == 2019 and Age_group2 == "65 years and more"').groupby(['Barri_name'])['Number'].agg('sum')

Barri_name
Baró de Viver                     116
Can Baró                          525
Can Peguera                       135
Canyelles                         418
Ciutat Meridiana                  412
                                 ...
la Vila Olímpica del Poblenou     275
la Vila de Gràcia                2959
les Corts                        2892
les Roquetes                      664
les Tres Torres                   731
Name: Number, Length: 73, dtype: int64

In [43]:
population.query('Year == 2019 and Age_group == "65 years and more"').groupby(['Barri_name'])['Number'].agg('sum')

Barri_name
Baró de Viver                      421
Can Baró                          2043
Can Peguera                        508
Canyelles                         1914
Ciutat Meridiana                  1860
                                 ...
la Vila Olímpica del Poblenou     1390
la Vila de Gràcia                 9628
les Corts                        12127
les Roquetes                      2896
les Tres Torres                   3526
Name: Number, Length: 73, dtype: int64

### Population density in the city of Barcelona (2010-2019)

In [44]:
# Time range of this dataset
years = np.arange(2010,2020,1)

In [45]:
# Reading data into a list
dfs = []
for i in years:
    dfs.append(pd.read_csv('../data/population_density/{}_densitat.csv'.format(i)))
    
# Concatenating into one dataframe
pop_density = pd.concat(dfs)

In [46]:
pop_density.head()

,Any,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Població,Superfície (ha),Densitat (hab/ha),Densitat neta (hab/ha),Superfície Residencial (ha)
0,2010,1,Ciutat Vella,1,el Raval,47251,109.8,430,949,NaN
1,2010,1,Ciutat Vella,2,el Barri Gòtic,18530,84.2,220,543,NaN
2,2010,1,Ciutat Vella,3,la Barceloneta,16099,131.4,123,1235,NaN
3,2010,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22627,111.4,203,701,NaN
4,2010,2,Eixample,5,el Fort Pienc,32630,92.9,351,975,NaN

In [47]:
# Translating column names to English 
columns = {'Any': 'Year', 'Codi_Districte': 'District_code', 'Nom_Districte': 'District_name', 
                       'Codi_Barri': 'Barri_code', 'Nom_Barri': 'Barri_name', 'Població': 'Population', 
                       'Superfície (ha)': 'Area_ha', 'Superfície Residencial (ha)': 'Residential_area_ha', 
                       'Densitat (hab/ha)': 'Density_hab_ha', 'Densitat neta (hab/ha)': 'Net_density_hab_ha'}

In [48]:
pop_density.rename(columns = columns, inplace=True)

In [49]:
pop_density.head()

,Year,District_code,District_name,Barri_code,Barri_name,Population,Area_ha,Density_hab_ha,Net_density_hab_ha,Residential_area_ha
0,2010,1,Ciutat Vella,1,el Raval,47251,109.8,430,949,NaN
1,2010,1,Ciutat Vella,2,el Barri Gòtic,18530,84.2,220,543,NaN
2,2010,1,Ciutat Vella,3,la Barceloneta,16099,131.4,123,1235,NaN
3,2010,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",22627,111.4,203,701,NaN
4,2010,2,Eixample,5,el Fort Pienc,32630,92.9,351,975,NaN

### Average monthly rent (€ / month) and average rent per surface (€ / m2 per month) of the city of Barcelona (2014-2019)

In [50]:
# Time range of this dataset
years = np.arange(2014,2020,1)

In [51]:
# Reading data into a list
dfs = []
for i in years:
    dfs.append(pd.read_csv('../data/monthly_rent/{}_lloguer_preu_trim.csv'.format(i)))

# Concatenating into one dataframe
monthly_rent = pd.concat(dfs)

In [52]:
monthly_rent.head()

,Any,Trimestre,Codi_Districte,Nom_Districte,Codi_Barri,Nom_Barri,Lloguer_mitja,Preu
0,2014,1,1,Ciutat Vella,1,el Raval,Lloguer mitjà mensual (Euros/mes),589.55
1,2014,1,1,Ciutat Vella,2,el Barri Gòtic,Lloguer mitjà mensual (Euros/mes),712.79
2,2014,1,1,Ciutat Vella,3,la Barceloneta,Lloguer mitjà mensual (Euros/mes),540.71
3,2014,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Lloguer mitjà mensual (Euros/mes),673.44
4,2014,1,2,Eixample,5,el Fort Pienc,Lloguer mitjà mensual (Euros/mes),736.09

In [53]:
# Translating data from Catalan to English
translating = {'Lloguer mitjà mensual (Euros/mes)' : 'Average monthly rent (Euros / month)',
                        'Lloguer mitjà per superfície (Euros/m2 mes)': 'Average monthly rent per area (Euros / m2 month)'}

In [54]:
# Translating column names to English 
columns = {'Any': 'Year', 'Trimestre': 'Trimester', 
                        'Codi_Districte': 'District_code', 'Nom_Districte': 'District_name', 
                        'Codi_Barri': 'Barri_code', 'Nom_Barri': 'Barri_name', 
                        'Lloguer_mitja': 'Average_rent', 'Preu': 'Price'}

In [55]:
for i in monthly_rent.Lloguer_mitja.unique():
    monthly_rent['Lloguer_mitja'].replace(i, translating[i], inplace=True)
monthly_rent.rename(columns = columns, inplace=True)

In [56]:
monthly_rent.head()

,Year,Trimester,District_code,District_name,Barri_code,Barri_name,Average_rent,Price
0,2014,1,1,Ciutat Vella,1,el Raval,Average monthly rent (Euros / month),589.55
1,2014,1,1,Ciutat Vella,2,el Barri Gòtic,Average monthly rent (Euros / month),712.79
2,2014,1,1,Ciutat Vella,3,la Barceloneta,Average monthly rent (Euros / month),540.71
3,2014,1,1,Ciutat Vella,4,"Sant Pere, Santa Caterina i la Ribera",Average monthly rent (Euros / month),673.44
4,2014,1,2,Eixample,5,el Fort Pienc,Average monthly rent (Euros / month),736.09

In [57]:
monthly_rent.District_name.unique()

array(['Ciutat Vella', 'Eixample', 'Sants-Montjuïc', 'Les Corts',
       'Sarrià-Sant Gervasi', 'Gràcia', 'Horta-Guinardó', 'Nou Barris',
       'Sant Andreu', 'Sant Martí'], dtype=object)

### Characteristics data

### Day care centres

In [58]:
# Reading data
day_care_centres = pd.read_csv('../data/day_care_centres/J003_CentresDiaGentGran.csv')

In [59]:
day_care_centres.head()

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,3ER_NIVELL,2N_NIVELL,1ER_NIVELL,Unnamed: 32
0,136165636,Centre de Dia La Magnolia,#,C,Amigó,17,19,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,Centres de dia gent gran,Serveis socials,Serveis socials,NaN
1,136165636,Centre de Dia La Magnolia,#,C,Amigó,17,19,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Centres de dia per a gent gran,Serveis Socials,NaN
2,1040172248,Centre de Dia Vallirana 61,#,C,Vallirana,61,61,27,el Putxet i el Farró,5,...,01/01,31/12,11.0,08:00:00,20:00:00,NaN,Centres de dia gent gran,Serveis socials,Serveis socials,NaN
3,1040172248,Centre de Dia Vallirana 61,#,C,Vallirana,61,61,27,el Putxet i el Farró,5,...,01/01,31/12,11.0,08:00:00,20:00:00,NaN,Centres de dia gent gran,Serveis socials,Serveis socials,NaN
4,1040172248,Centre de Dia Vallirana 61,#,C,Vallirana,61,61,27,el Putxet i el Farró,5,...,01/01,31/12,11.0,08:00:00,20:00:00,NaN,NaN,Centres de dia per a gent gran,Serveis Socials,NaN

In [60]:
# Limiting number of columns
day_care_centres = day_care_centres[['CODI_EQUIPAMENT', 'EQUIPAMENT', 'SECCIO', 'TIPUS_VIA', 'NOM_CARRER',
       'NUM_CARRER_1', 'NUM_CARRER_2', 'CODI_BARRI', 'NUM_BARRI',
       'CODI_DISTRICTE', 'NOM_DISTRICTE', 'CODI_POSTAL', 'CODI_POBLACIO',
       'POBLACIO', 'LATITUD', 'LONGITUD']]

In [61]:
# Translating column names to English
columns = {'CODI_EQUIPAMENT': 'Equipment_code', 'EQUIPAMENT': 'Equipment', 
                            'SECCIO': 'Section', 'TIPUS_VIA': 'Road_type', 'NOM_CARRER': 'Street_name', 
                            'NUM_CARRER_1': 'Street_number_1', 'NUM_CARRER_2': 'Street_number_2', 
                            'CODI_BARRI': 'Barri_code', 'NUM_BARRI': 'Barri_name', 
                            'CODI_DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name',
                            'CODI_POSTAL': 'Post_code', 'CODI_POBLACIO': 'Population_code', 'POBLACIO': 'Population',
                            'LATITUD': 'Lat', 'LONGITUD': 'Lon'}

In [62]:
day_care_centres.rename(columns=columns, inplace=True)

In [63]:
# Removing duplicated entries
day_care_centres.drop_duplicates(inplace=True)
day_care_centres.reset_index(drop=True, inplace=True)

In [64]:
day_care_centres.head()

,Equipment_code,Equipment,Section,Road_type,Street_name,Street_number_1,Street_number_2,Barri_code,Barri_name,District_code,District_name,Post_code,Population_code,Population,Lat,Lon
0,136165636,Centre de Dia La Magnolia,#,C,Amigó,17,19,26,Sant Gervasi - Galvany,5,Sarrià-Sant Gervasi,8021,19,BARCELONA,41.394472,2.145456
1,1040172248,Centre de Dia Vallirana 61,#,C,Vallirana,61,61,27,el Putxet i el Farró,5,Sarrià-Sant Gervasi,8006,19,BARCELONA,41.404692,2.146806
2,1151134251,Centre de Dia Serveis Geriàtrics de Barcelona ...,#,C,Portbou,45,45,17,Sants - Badal,3,Sants-Montjuïc,8028,19,BARCELONA,41.377240,2.126413
3,75990105220,Residència Assistida per a Gent Gran Acollimen...,#,C,Pujades,273,275,68,el Poblenou,10,Sant Martí,8005,19,BARCELONA,41.405456,2.205463
4,75990548005,Centre de Dia Àgora,#,C,Comtes de Bell-lloc,180,180,19,les Corts,4,Les Corts,8014,19,BARCELONA,41.383109,2.135729

### Elderly care homes

In [65]:
# Reading data
elderly_care_homes = pd.read_csv('../data/elderly_care_homes/J004_ResidenciesGentGran.csv')

In [66]:
elderly_care_homes.head()

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,3ER_NIVELL,2N_NIVELL,1ER_NIVELL,Unnamed: 32
0,333083627,Residencial Augusta Park,#,C,Copèrnic,30,32,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,Residències gent gran,Serveis socials,Serveis socials,NaN
1,333083627,Residencial Augusta Park,#,C,Copèrnic,30,32,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Residències per la gent gran,Serveis Socials,NaN
2,333083627,Residencial Augusta Park,#,C,Copèrnic,30,32,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,Residències gent gran,Serveis socials,Serveis socials,NaN
3,333083627,Residencial Augusta Park,#,C,Copèrnic,30,32,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Residències per la gent gran,Serveis Socials,NaN
4,333083627,Residencial Augusta Park,#,C,Copèrnic,30,32,26,Sant Gervasi - Galvany,5,...,NaN,NaN,NaN,NaN,NaN,NaN,Residències gent gran,Serveis socials,Serveis socials,NaN

In [67]:
# Limiting number of columns
elderly_care_homes = elderly_care_homes[['CODI_EQUIPAMENT', 'EQUIPAMENT', 'TIPUS_VIA', 'NOM_CARRER',
       'NUM_CARRER_1', 'NUM_CARRER_2', 'CODI_BARRI', 'NUM_BARRI',
       'CODI_DISTRICTE', 'NOM_DISTRICTE', 'CODI_POSTAL', 'CODI_POBLACIO',
       'POBLACIO', 'LATITUD', 'LONGITUD']]

In [68]:
# Translating column names to English
columns = {'CODI_EQUIPAMENT': 'Equipment_code', 'EQUIPAMENT': 'Equipment', 
                            'TIPUS_VIA': 'Road_type', 'NOM_CARRER': 'Street_name', 
                            'NUM_CARRER_1': 'Street_number_1', 'NUM_CARRER_2': 'Street_number_2', 
                            'CODI_BARRI': 'Barri_code', 'NUM_BARRI': 'Barri_name', 
                            'CODI_DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name',
                            'CODI_POSTAL': 'Post_code', 'CODI_POBLACIO': 'Population_code', 'POBLACIO': 'Population',
                            'LATITUD': 'Lat', 'LONGITUD': 'Lon'}

In [69]:
elderly_care_homes.rename(columns=columns, inplace = True)

In [70]:
# Removing duplicated entries
elderly_care_homes.drop_duplicates(inplace=True)
elderly_care_homes.reset_index(drop=True, inplace=True)

In [71]:
elderly_care_homes.head()

,Equipment_code,Equipment,Road_type,Street_name,Street_number_1,Street_number_2,Barri_code,Barri_name,District_code,District_name,Post_code,Population_code,Population,Lat,Lon
0,333083627,Residencial Augusta Park,C,Copèrnic,30,32,26,Sant Gervasi - Galvany,5,Sarrià-Sant Gervasi,8021,19,BARCELONA,41.399939,2.138470
1,1261113025,Associació Edelweiss,C,Aguilar,54,54,36,la Font d'en Fargues,7,Horta-Guinardó,8032,19,BARCELONA,41.425958,2.168665
2,2114093743,Residència Assistida Gent Gran,G.V.,Corts Catalanes,800,800,5,el Fort Pienc,2,Eixample,8013,19,BARCELONA,41.400254,2.183127
3,75990013652,Residència Assistida per a Gent Gran Edelweiss...,C,Algarves,23,23,22,"Vallvidrera, el Tibidabo i les Planes",5,Sarrià-Sant Gervasi,8017,19,BARCELONA,41.414992,2.108249
4,75990020599,Residència Assistida per a Gent Gran Ausiàs Marc,C,Ausiàs Marc,46,46,7,la Dreta de Eixample,2,Eixample,8010,19,BARCELONA,41.391904,2.176533

### Hospitals

In [72]:
# Reading data
hospitals = pd.read_csv('../data/hospitals/S0002_Hospitals_I_dAtencio_Primaria.csv')

In [73]:
hospitals.head()

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,TELEFON_NUM,TELEFON_TIPUS,TELEFON_INFO_COM,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,Unnamed: 29
0,68125439,Instituto Oftalmológico Tres Torres,#,Via,Augusta,281,285.0,24,les Tres Torres,5,...,932009879,Tel.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,68125439,Instituto Oftalmológico Tres Torres,#,Via,Augusta,281,285.0,24,les Tres Torres,5,...,900842848,Informació,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,179151955,Hospital de dia - Numància,#,C,Numància,9,13.0,18,Sants,3,...,933249600,Centraleta,NaN,01/01,31/12,11.0,09:00:00,18:00:00,,NaN
3,179151955,Hospital de dia - Numància,#,C,Numància,9,13.0,18,Sants,3,...,933249603,Fax,NaN,01/01,31/12,11.0,09:00:00,18:00:00,,NaN
4,334115716,Centre d'Atenció Primària Roquetes,#,C,Garigliano,23,27.0,50,les Roquetes,8,...,933594470,Fax,NaN,01/01,31/12,11.0,08:00:00,20:00:00,Fora d'aquest horari truqueu al 061<br>o CUAP ...,NaN

In [74]:
# Limiting number of columns
hospitals = hospitals[['CODI_EQUIPAMENT', 'EQUIPAMENT', 'TIPUS_VIA', 'NOM_CARRER',
       'NUM_CARRER_1', 'NUM_CARRER_2', 'CODI_BARRI', 'NUM_BARRI',
       'CODI_DISTRICTE', 'NOM_DISTRICTE', 'CODI_POSTAL', 'CODI_POBLACIO',
       'POBLACIO', 'LATITUD', 'LONGITUD']]

In [75]:
# Translating column names to English
columns = {'CODI_EQUIPAMENT': 'Equipment_code', 'EQUIPAMENT': 'Equipment', 
                            'TIPUS_VIA': 'Road_type', 'NOM_CARRER': 'Street_name', 
                            'NUM_CARRER_1': 'Street_number_1', 'NUM_CARRER_2': 'Street_number_2', 
                            'CODI_BARRI': 'Barri_code', 'NUM_BARRI': 'Barri_name', 
                            'CODI_DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name',
                            'CODI_POSTAL': 'Post_code', 'CODI_POBLACIO': 'Population_code', 'POBLACIO': 'Population',
                            'LATITUD': 'Lat', 'LONGITUD': 'Lon'}

In [76]:
hospitals.rename(columns=columns, inplace=True)

In [77]:
# Removing duplicated entries
hospitals.drop_duplicates(inplace=True)
hospitals.reset_index(drop=True, inplace=True)

In [78]:
hospitals.head()

,Equipment_code,Equipment,Road_type,Street_name,Street_number_1,Street_number_2,Barri_code,Barri_name,District_code,District_name,Post_code,Population_code,Population,Lat,Lon
0,68125439,Instituto Oftalmológico Tres Torres,Via,Augusta,281,285.0,24,les Tres Torres,5,Sarrià-Sant Gervasi,8017,19,BARCELONA,41.397669,2.129943
1,179151955,Hospital de dia - Numància,C,Numància,9,13.0,18,Sants,3,Sants-Montjuïc,8029,19,BARCELONA,41.381424,2.141052
2,334115716,Centre d'Atenció Primària Roquetes,C,Garigliano,23,27.0,50,les Roquetes,8,Nou Barris,8042,19,BARCELONA,41.446174,2.173934
3,349141404,Centre d'Atenció Primària Gòtic,Ptge,Pau,1,1.0,2,el Barri Gòtic,1,Ciutat Vella,8002,19,BARCELONA,41.378814,2.177034
4,1015170605,Centre d'Atenció Primària Sardenya,C,Sardenya,466,466.0,33,el Baix Guinardó,7,Horta-Guinardó,8025,19,BARCELONA,41.409468,2.165567

### Libraries and museums

In [79]:
# Reading data
libraries_museums = pd.read_csv('../data/libraries/C001_Biblioteques_i_museus.csv')

In [80]:
libraries_museums.head()

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,3ER_NIVELL,2N_NIVELL,1ER_NIVELL,Unnamed: 32
0,62172134,Museu d'Història de Catalunya,Biblioteca,Pl,Pau Vila,3.0,3.0,3.0,la Barceloneta,1.0,...,01/01,31/12,1000111.0,16:00:00,18:00:00,NaN,Biblioteques,Biblioteques i museus,Cultura i lleure,NaN
1,62172134,Museu d'Història de Catalunya,Biblioteca,Pl,Pau Vila,3.0,3.0,3.0,la Barceloneta,1.0,...,01/01,31/12,1000111.0,10:00:00,15:00:00,NaN,Biblioteques,Biblioteques i museus,Cultura i lleure,NaN
2,62172134,Museu d'Història de Catalunya,Biblioteca,Pl,Pau Vila,3.0,3.0,3.0,la Barceloneta,1.0,...,01/01,31/12,1000111.0,16:00:00,18:00:00,NaN,Biblioteques,Biblioteques i museus,Cultura i lleure,NaN
3,62172134,Museu d'Història de Catalunya,Biblioteca,Pl,Pau Vila,3.0,3.0,3.0,la Barceloneta,1.0,...,01/01,31/12,1000111.0,10:00:00,15:00:00,NaN,Biblioteques,Biblioteques i museus,Cultura i lleure,NaN
4,62172134,Museu d'Història de Catalunya,Biblioteca,Pl,Pau Vila,3.0,3.0,3.0,la Barceloneta,1.0,...,01/01,31/12,1000111.0,16:00:00,18:00:00,NaN,Humanitats i lletres,Biblioteques,Cultura i lleure,NaN

In [81]:
# Limiting number of columns

# For now, I limit the data only to information about the location 
# [additional information about: ('Activities_Assistants', 'School_Visitors_Assistants',
# 'Documentary_Funds', 'Square_Meters', 'Number_Activities', 'Number_School_Visits', 'Loans', 'Uses_Computers_and_Wifis',
# 'Visits') is available in the "Indicator" and "Value" columns]
        
libraries_museums = libraries_museums[['CODI_EQUIPAMENT', 'EQUIPAMENT', 'SECCIO', 'TIPUS_VIA', 'NOM_CARRER',
       'NUM_CARRER_1', 'NUM_CARRER_2', 'CODI_BARRI', 'NUM_BARRI',
       'CODI_DISTRICTE', 'NOM_DISTRICTE', 'CODI_POSTAL', 'CODI_POBLACIO',
       'POBLACIO', 'LATITUD', 'LONGITUD']]

In [82]:
# Translating column names to English
columns = {'CODI_EQUIPAMENT': 'Equipment_code', 'EQUIPAMENT': 'Equipment', 'SECCIO': 'Section',
                            'TIPUS_VIA': 'Road_type', 'NOM_CARRER': 'Street_name', 
                            'NUM_CARRER_1': 'Street_number_1', 'NUM_CARRER_2': 'Street_number_2', 
                            'CODI_BARRI': 'Barri_code', 'NUM_BARRI': 'Barri_name', 
                            'CODI_DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name',
                            'CODI_POSTAL': 'Post_code', 'CODI_POBLACIO': 'Population_code', 'POBLACIO': 'Population',
                            'LATITUD': 'Lat', 'LONGITUD': 'Lon'}

In [83]:
libraries_museums.rename(columns=columns, inplace=True)

In [84]:
# Removing duplicated entries
libraries_museums.drop_duplicates(inplace=True)
libraries_museums.reset_index(drop=True, inplace=True)

In [85]:
libraries_museums.head()

,Equipment_code,Equipment,Section,Road_type,Street_name,Street_number_1,Street_number_2,Barri_code,Barri_name,District_code,District_name,Post_code,Population_code,Population,Lat,Lon
0,62172134,Museu d'Història de Catalunya,Biblioteca,Pl,Pau Vila,3.0,3.0,3.0,la Barceloneta,1.0,Ciutat Vella,8039.0,19,BARCELONA,41.380700,2.185529
1,90154904,Fundació Arqueològica Clos,Museu Egipci de Barcelona,C,València,284.0,284.0,7.0,la Dreta de Eixample,2.0,Eixample,8007.0,19,BARCELONA,41.393657,2.164762
2,139173259,Perruqueria Raffel Pages *Rbla Catalunya,Museu de la Perruqueria Raffel Pages,Rbla,Catalunya,99.0,99.0,7.0,la Dreta de Eixample,2.0,Eixample,8008.0,19,BARCELONA,41.393209,2.160315
3,249121118,Biblioteca Vapor Vell,#,Ptge,Vapor Vell,1.0,1.0,18.0,Sants,3.0,Sants-Montjuïc,8028.0,19,BARCELONA,41.376928,2.134760
4,276102917,Gremi Provincial de Pastisseria de Barcelona,Museu de la Xocolata,C,Comerç,36.0,36.0,4.0,"Sant Pere, Santa Caterina i la Ribera",1.0,Ciutat Vella,8003.0,19,BARCELONA,41.387419,2.181734

### Pharmacies

In [86]:
# Reading data
pharmacies = pd.read_csv('../data/pharmacies/S0001_Farmacies.csv')

In [87]:
pharmacies.head()

,CODI_EQUIPAMENT,EQUIPAMENT,SECCIO,TIPUS_VIA,NOM_CARRER,NUM_CARRER_1,NUM_CARRER_2,CODI_BARRI,NUM_BARRI,CODI_DISTRICTE,...,TELEFON_NUM,TELEFON_TIPUS,TELEFON_INFO_COM,HORARI_PERIODE_INICI,HORARI_PERIODE_FI,HORARI_DIES,HORARI_HORES_INICI,HORARI_HORES_FI,HORARI_OBSERVACIONS,Unnamed: 29
0,75990000677,Farmàcia Salvado Lladós,#,Pg,Sant Joan,2,2,5,el Fort Pienc,2,...,932314605,Tel.,NaN,01/01,31/12,0.0,09:00:00,22:00:00,,NaN
1,75990000677,Farmàcia Salvado Lladós,#,Pg,Sant Joan,2,2,5,el Fort Pienc,2,...,932314605,Fax,NaN,01/01,31/12,0.0,09:00:00,22:00:00,,NaN
2,75990000684,Farmàcia Morera Inglés,#,Pg,Sant Joan,3,3,7,la Dreta de Eixample,2,...,932324210,Tel.,NaN,01/01,31/12,0.0,09:00:00,22:00:00,,NaN
3,75990000684,Farmàcia Morera Inglés,#,Pg,Sant Joan,3,3,7,la Dreta de Eixample,2,...,932324210,Fax,NaN,01/01,31/12,0.0,09:00:00,22:00:00,,NaN
4,75990000877,Farmàcia Roselló Busquet,#,Av,Santuari St Josep Muntanya,6,6,30,la Salut,6,...,932104757,Fax,NaN,01/01,31/12,0.0,09:00:00,22:00:00,,NaN

In [88]:
# Limiting number of columns
pharmacies = pharmacies[['CODI_EQUIPAMENT', 'EQUIPAMENT', 'TIPUS_VIA', 'NOM_CARRER',
       'NUM_CARRER_1', 'NUM_CARRER_2', 'CODI_BARRI', 'NUM_BARRI',
       'CODI_DISTRICTE', 'NOM_DISTRICTE', 'CODI_POSTAL', 'CODI_POBLACIO',
       'POBLACIO', 'LATITUD', 'LONGITUD']]

In [89]:
# Translating column names to English
columns = {'CODI_EQUIPAMENT': 'Equipment_code', 'EQUIPAMENT': 'Equipment', 
                            'TIPUS_VIA': 'Road_type', 'NOM_CARRER': 'Street_name', 
                            'NUM_CARRER_1': 'Street_number_1', 'NUM_CARRER_2': 'Street_number_2', 
                            'CODI_BARRI': 'Barri_code', 'NUM_BARRI': 'Barri_name', 
                            'CODI_DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name',
                            'CODI_POSTAL': 'Post_code', 'CODI_POBLACIO': 'Population_code', 'POBLACIO': 'Population',
                            'LATITUD': 'Lat', 'LONGITUD': 'Lon'}

In [90]:
pharmacies.rename(columns=columns, inplace=True)

In [91]:
# Removing duplicated entries
pharmacies.drop_duplicates(inplace=True)
pharmacies.reset_index(drop=True, inplace=True)

In [92]:
pharmacies.head()

,Equipment_code,Equipment,Road_type,Street_name,Street_number_1,Street_number_2,Barri_code,Barri_name,District_code,District_name,Post_code,Population_code,Population,Lat,Lon
0,75990000677,Farmàcia Salvado Lladós,Pg,Sant Joan,2,2,5,el Fort Pienc,2,Eixample,8010,19,BARCELONA,41.391732,2.180345
1,75990000684,Farmàcia Morera Inglés,Pg,Sant Joan,3,3,7,la Dreta de Eixample,2,Eixample,8010,19,BARCELONA,41.391906,2.179117
2,75990000877,Farmàcia Roselló Busquet,Av,Santuari St Josep Muntanya,6,6,30,la Salut,6,Gràcia,8024,19,BARCELONA,41.410072,2.154697
3,75990001522,Farmàcia Parés Bursosa,C,Beat Almató,20,20,29,el Coll,6,Gràcia,8023,19,BARCELONA,41.416461,2.147676
4,75990001556,Farmàcia Villar Merchan,Rbla,Poblenou,21,21,68,el Poblenou,10,Sant Martí,8005,19,BARCELONA,41.398772,2.204157

### Places of worship

In [93]:
# Reading data
places_of_worship = pd.read_csv('../data/places_of_worship/LLOCS_CULTE.csv')

In [94]:
places_of_worship.head()

,CODI_CAPA,CAPA_GENERICA,NOM_CAPA,ED50_COORD_X,ED50_COORD_Y,ETRS89_COORD_X,ETRS89_COORD_Y,LONGITUD,LATITUD,DISTRICTE,BARRI,NOM_DISTRICTE,NOM_BARRI,EQUIPAMENT,ADRECA,TELEFON
0,G008,Serveis religiosos,Esglésies catòliques,429164.677,4581087.744,429072.757,4580886.821,2.151808,41.376376,2,10,Eixample,Sant Antoni,Parròquia de Sant Ferran,"G.V. Corts Catalanes, 406",934239746
1,G008,Serveis religiosos,Esglésies catòliques,426908.341,4584484.398,426816.443,4584283.444,2.124418,41.406766,5,25,Sarrià-Sant Gervasi,Sant Gervasi - la Bonanova,Escola Pia de Sarrià-Calassanç-Església,"C Immaculada, 25",932120908
2,G009,Serveis religiosos,Esglésies evangèliques,432030.520,4585118.972,431938.574,4584918.010,2.185623,41.412932,10,64,Sant Martí,el Camp de l'Arpa del Clot,Església Evangèlica de Betlem,"C Nació, 24",934351763
3,G008,Serveis religiosos,Esglésies catòliques,431097.187,4581860.326,431005.249,4581659.395,2.174828,41.383503,1,2,Ciutat Vella,el Barri Gòtic,Oratori de Sant Felip Neri,"Pl Sant Felip Neri, 5",933173116
4,G006,Serveis religiosos,Comunitats ortodoxes,428677.090,4585174.402,428585.175,4584973.441,2.145496,41.413140,6,28,Gràcia,Vallcarca i els Penitents,Parròquia de l'Anunciació a la Mare de Déu - P...,"C Mare de Déu dels Reis, 12",NaN

In [95]:
# Limiting number of columns
places_of_worship = places_of_worship[['CODI_CAPA', 'NOM_CAPA', 
                                       'LONGITUD','LATITUD', 'DISTRICTE', 'NOM_DISTRICTE', 'BARRI', 'NOM_BARRI',
                                       'EQUIPAMENT', 'ADRECA']]

In [96]:
# Translating column names to English
columns = {'CODI_CAPA': 'Type_code', 'NOM_CAPA': 'Type_name', 
                             'LONGITUD': 'Lon', 'LATITUD': 'Lat', 
                             'DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name', 
                             'BARRI': 'Barri_code', 'NOM_BARRI': 'Barri_name', 
                             'EQUIPAMENT': 'Equipment', 'ADRECA': 'Adress'}

In [97]:
places_of_worship.rename(columns=columns, inplace=True)

In [98]:
# Removing duplicated entries
places_of_worship.drop_duplicates(inplace=True)
places_of_worship.reset_index(drop=True, inplace=True)

In [99]:
# Translating data from Catalan to English
translating = {'Esglésies catòliques': 'Catholic Churches', 'Esglésies evangèliques': 'Evangelical Churches', 
                    'Comunitats ortodoxes': 'Orthodox Communities', 'Salons del regne': 'Kingdom Halls', 
                    'Centres hindús': 'Hindu Centers', 'Centres budistes': 'Buddhist centers', 'Mesquites': 'Mosques', 
                    "Capelles de l'Església de Jesucrist dels S.D.D.": "Chapels of the Church of Jesus Christ of Latter-day Saints", 
                    'Altres': 'Others', 'Esglésies adventistes': 'Adventist Churches', 
                    'Sinagogues': 'Synagogues', 'Temples sikhs': 'Sikh Temples', 'Centres taoistes': 'Taoist Centers', 
                    "Centres Baha'is": "Baha'i Centers"}

In [100]:
for i in places_of_worship.Type_name.unique():
    places_of_worship['Type_name'].replace(i, translating[i], inplace=True)

In [101]:
places_of_worship.head()

,Type_code,Type_name,Lon,Lat,District_code,District_name,Barri_code,Barri_name,Equipment,Adress
0,G008,Catholic Churches,2.151808,41.376376,2,Eixample,10,Sant Antoni,Parròquia de Sant Ferran,"G.V. Corts Catalanes, 406"
1,G008,Catholic Churches,2.124418,41.406766,5,Sarrià-Sant Gervasi,25,Sant Gervasi - la Bonanova,Escola Pia de Sarrià-Calassanç-Església,"C Immaculada, 25"
2,G009,Evangelical Churches,2.185623,41.412932,10,Sant Martí,64,el Camp de l'Arpa del Clot,Església Evangèlica de Betlem,"C Nació, 24"
3,G008,Catholic Churches,2.174828,41.383503,1,Ciutat Vella,2,el Barri Gòtic,Oratori de Sant Felip Neri,"Pl Sant Felip Neri, 5"
4,G006,Orthodox Communities,2.145496,41.413140,6,Gràcia,28,Vallcarca i els Penitents,Parròquia de l'Anunciació a la Mare de Déu - P...,"C Mare de Déu dels Reis, 12"

### Public transport - bus stops

In [102]:
# Reading data
bus_stops = pd.read_csv('../data/transport/ESTACIONS_BUS.csv')

In [103]:
bus_stops.head()

,CODI_CAPA,CAPA_GENERICA,NOM_CAPA,ED50_COORD_X,ED50_COORD_Y,ETRS89_COORD_X,ETRS89_COORD_Y,LONGITUD,LATITUD,EQUIPAMENT,DISTRICTE,BARRI,NOM_DISTRICTE,NOM_BARRI,ADRECA,TELEFON
0,K014,Transports i serveis relacionats,Autobusos diürns,429445.957,4588103.437,429354.036,4587902.449,2.154352,41.439588,BUS -102-185--,7.0,43.0,Horta-Guinardó,Horta,NaN,NaN
1,K014,Transports i serveis relacionats,Autobusos diürns,428502.999,4577603.659,428411.084,4577402.768,2.144307,41.344938,BUS -23-109--,3.0,12.0,Sants-Montjuïc,la Marina del Prat Vermell,NaN,NaN
2,K015,Transports i serveis relacionats,Autobusos nocturns,431390.730,4590650.512,431298.792,4590449.500,2.177339,41.462697,NITBUS -N3--,8.0,55.0,Nou Barris,Ciutat Meridiana,NaN,NaN
3,K015,Transports i serveis relacionats,Autobusos nocturns,428263.005,4584194.130,428171.094,4583993.178,2.140658,41.404274,NITBUS -N0--,5.0,26.0,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,NaN,NaN
4,K015,Transports i serveis relacionats,Autobusos nocturns,425241.529,4585198.153,425149.646,4584997.193,2.104390,41.413041,NITBUS -N10--,5.0,22.0,Sarrià-Sant Gervasi,"Vallvidrera, el Tibidabo i les Planes",NaN,NaN

In [104]:
# Limiting number of columns
bus_stops = bus_stops[['CODI_CAPA', 'NOM_CAPA', 'LONGITUD', 'LATITUD', 
                       'EQUIPAMENT', 'DISTRICTE', 'NOM_DISTRICTE', 'BARRI', 'NOM_BARRI']]

In [105]:
# Translating column names to English
columns = {'CODI_CAPA': 'Type_code', 'NOM_CAPA': 'Type_name', 'LONGITUD': 'Lon', 'LATITUD': 'Lat', 
                     'EQUIPAMENT': 'Equipment', 'DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name', 
                     'BARRI': 'Barri_code', 'NOM_BARRI': 'Barri_name'}

In [106]:
bus_stops.rename(columns=columns, inplace=True)

In [107]:
# Removing duplicated entries
bus_stops.drop_duplicates(inplace=True)
bus_stops.reset_index(drop=True, inplace=True)

In [108]:
# Translating data from Catalan to English
translating = {'Autobusos diürns': 'Day buses', 
                    'Autobusos nocturns': 'Night buses', 
                    "Autobus a l'aeroport": "Bus to the airport", 
                    "Estacions d'autobusos": "Bus stations"}

In [109]:
for i in bus_stops.Type_name.unique():
    bus_stops['Type_name'].replace(i, translating[i], inplace=True)

In [110]:
bus_stops.head()

,Type_code,Type_name,Lon,Lat,Equipment,District_code,District_name,Barri_code,Barri_name
0,K014,Day buses,2.154352,41.439588,BUS -102-185--,7.0,Horta-Guinardó,43.0,Horta
1,K014,Day buses,2.144307,41.344938,BUS -23-109--,3.0,Sants-Montjuïc,12.0,la Marina del Prat Vermell
2,K015,Night buses,2.177339,41.462697,NITBUS -N3--,8.0,Nou Barris,55.0,Ciutat Meridiana
3,K015,Night buses,2.140658,41.404274,NITBUS -N0--,5.0,Sarrià-Sant Gervasi,26.0,Sant Gervasi - Galvany
4,K015,Night buses,2.104390,41.413041,NITBUS -N10--,5.0,Sarrià-Sant Gervasi,22.0,"Vallvidrera, el Tibidabo i les Planes"

### Public transport - other

In [111]:
# Reading data
transport = pd.read_csv('../data/transport/TRANSPORTS.csv')

In [112]:
transport.head()

,CODI_CAPA,CAPA_GENERICA,NOM_CAPA,ED50_COORD_X,ED50_COORD_Y,ETRS89_COORD_X,ETRS89_COORD_Y,LONGITUD,LATITUD,EQUIPAMENT,DISTRICTE,BARRI,NOM_DISTRICTE,NOM_BARRI,ADRECA,TELEFON
0,K001,Transports i serveis relacionats,Metro i línies urbanes FGC,426477.889,4583649.008,426385.994,4583448.062,2.119370,41.399203,FGC (L6) - REINA ELISENDA (Sortida Duquesa d'O...,5.0,23.0,Sarrià-Sant Gervasi,Sarrià,NaN,NaN
1,K001,Transports i serveis relacionats,Metro i línies urbanes FGC,427818.595,4583478.761,427726.688,4583277.816,2.135427,41.397791,FGC (L6) - LA BONANOVA-,5.0,26.0,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,NaN,NaN
2,K001,Transports i serveis relacionats,Metro i línies urbanes FGC,432051.444,4589400.176,431959.500,4589199.175,2.185391,41.451492,METRO (L11) - CASA DE L'AIGUA (C. Vila-Real)-,8.0,53.0,Nou Barris,la Trinitat Nova,NaN,NaN
3,K001,Transports i serveis relacionats,Metro i línies urbanes FGC,431149.447,4590452.022,431057.511,4590251.011,2.174473,41.460889,METRO (L11) - CIUTAT MERIDIANA (C. Pedraforca)-,8.0,55.0,Nou Barris,Ciutat Meridiana,NaN,NaN
4,K001,Transports i serveis relacionats,Metro i línies urbanes FGC,430579.417,4582275.812,430487.484,4582074.877,2.168588,41.387200,METRO (L1) - CATALUNYA (Rda. Universitat)-,2.0,7.0,Eixample,la Dreta de l'Eixample,NaN,NaN

In [113]:
# Limiting number of columns
transport = transport[['CODI_CAPA', 'NOM_CAPA', 'LONGITUD', 'LATITUD', 
                       'EQUIPAMENT', 'DISTRICTE', 'NOM_DISTRICTE', 'BARRI', 'NOM_BARRI']]

In [114]:
# Translating column names to English
columns = {'CODI_CAPA': 'Type_code', 'NOM_CAPA': 'Type_name', 'LONGITUD': 'Lon', 'LATITUD': 'Lat', 
                     'EQUIPAMENT': 'Equipment', 'DISTRICTE': 'District_code', 'NOM_DISTRICTE': 'District_name', 
                     'BARRI': 'Barri_code', 'NOM_BARRI': 'Barri_name'}

In [115]:
transport.rename(columns=columns, inplace=True)

In [116]:
# Removing duplicated entries
transport.drop_duplicates(inplace=True)
transport.reset_index(drop=True, inplace=True)

In [117]:
# Translating data from Catalan to English
translating = {'Metro i línies urbanes FGC': 'Metro and urban lines FGC', 
                    'Ferrocarrils Generalitat (FGC)': 'Ferrocarrils Generalitat (FGC)', 
                    'Tramvia': 'Tram', 'Estació marítima': 'Maritime station', 'RENFE': 'RENFE', 
                    "Tren a l'aeroport": "Airport train", 'Telefèric': 'Cable car', 'Funicular': 'Funicular'}

In [118]:
for i in transport.Type_name.unique():
    transport['Type_name'].replace(i, translating[i], inplace=True)

In [119]:
transport.head()

,Type_code,Type_name,Lon,Lat,Equipment,District_code,District_name,Barri_code,Barri_name
0,K001,Metro and urban lines FGC,2.119370,41.399203,FGC (L6) - REINA ELISENDA (Sortida Duquesa d'O...,5.0,Sarrià-Sant Gervasi,23.0,Sarrià
1,K001,Metro and urban lines FGC,2.135427,41.397791,FGC (L6) - LA BONANOVA-,5.0,Sarrià-Sant Gervasi,26.0,Sant Gervasi - Galvany
2,K001,Metro and urban lines FGC,2.185391,41.451492,METRO (L11) - CASA DE L'AIGUA (C. Vila-Real)-,8.0,Nou Barris,53.0,la Trinitat Nova
3,K001,Metro and urban lines FGC,2.174473,41.460889,METRO (L11) - CIUTAT MERIDIANA (C. Pedraforca)-,8.0,Nou Barris,55.0,Ciutat Meridiana
4,K001,Metro and urban lines FGC,2.168588,41.387200,METRO (L1) - CATALUNYA (Rda. Universitat)-,2.0,Eixample,7.0,la Dreta de l'Eixample

## 1.2. Adding geometry information to the datasets

After primary cleaning and preprocessing the data, now it is time to:

1) join the geometry data into timeseries datasets - geometries for districts and barris (and gran barris)

2) create geometry data from raw coordinates for city characteristics datasets

In [120]:
districts.rename(columns = {'DISTRICTE': 'District_code'}, inplace=True)
districts = districts[['District_code', 'geometry']]
districts['District_code'] = districts['District_code'].astype(int)

In [121]:
barris.rename(columns = {'BARRI': 'Barri_code'}, inplace=True)
barris = barris[['Barri_code', 'geometry']]
barris['Barri_code'] = barris['Barri_code'].astype(int)

### Creating GeoDataFrames

In [122]:
permanent_addresses = permanent_addresses.merge(districts, on='District_code').merge(barris, on='Barri_code')
permanent_addresses.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
permanent_addresses = gpd.GeoDataFrame(permanent_addresses, geometry=permanent_addresses['geometry_barri'])

In [123]:
population = population.merge(districts, on='District_code').merge(barris, on='Barri_code')
population.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
population = gpd.GeoDataFrame(population, geometry=population['geometry_barri'])

In [124]:
population

,Year,District_code,District_name,Barri_code,Barri_name,Sex,Age,Number,Age_group,geometry_district,geometry_barri,geometry
0,2010,1,Ciutat Vella,1,el Raval,Man,0 years,261,< 15 years,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
1,2010,1,Ciutat Vella,1,el Raval,Man,1 year,267,< 15 years,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
2,2010,1,Ciutat Vella,1,el Raval,Man,2 years,203,< 15 years,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
3,2010,1,Ciutat Vella,1,el Raval,Man,3 years,189,< 15 years,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
4,2010,1,Ciutat Vella,1,el Raval,Man,4 years,219,< 15 years,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
141323,2019,10,Sant Martí,73,la Verneda i la Pau,Man,95 years,8,65 years and more,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
141324,2019,10,Sant Martí,73,la Verneda i la Pau,Man,96 years,7,65 years and more,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
141325,2019,10,Sant Martí,73,la Verneda i la Pau,Man,97 years,3,65 years and more,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
141326,2019,10,Sant Martí,73,la Verneda i la Pau,Man,98 years,3,65 years and more,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
141327,2019,10,Sant Martí,73,la Verneda i la Pau,Man,99 years and more,3,65 years and more,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."

In [125]:
# living_alone dataset has a distinciton between men and women - here I create the same dataset, but with totals
population_t = pd.DataFrame(population.groupby(['Year', 'District_code', 'District_name', 'Barri_code', 'Barri_name','Age'])['Number'].sum())
population_t.reset_index(inplace=True)
population_t = population_t.merge(districts, on='District_code').merge(barris, on='Barri_code')
population_t.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
population_t = gpd.GeoDataFrame(population_t, geometry=population_t['geometry_barri'])

In [127]:
# living_alone dataset has a distinciton between men and women - here I create the same dataset, but with totals
# for 3 age groups
population_tg = pd.DataFrame(population.groupby(['Year', 'District_code', 'District_name', 'Barri_code', 'Barri_name','Age_group'])['Number'].sum())
population_tg.reset_index(inplace=True)
population_tg = population_tg.merge(districts, on='District_code').merge(barris, on='Barri_code')
population_tg.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
population_tg = gpd.GeoDataFrame(population_tg, geometry=population_tg['geometry_barri'])

In [128]:
population_tg

,Year,District_code,District_name,Barri_code,Barri_name,Age_group,Number,geometry_district,geometry_barri,geometry
0,2010,1,Ciutat Vella,1,el Raval,15-64 years,35268,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
1,2010,1,Ciutat Vella,1,el Raval,65 years and more,6576,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
2,2010,1,Ciutat Vella,1,el Raval,< 15 years,5407,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
3,2011,1,Ciutat Vella,1,el Raval,15-64 years,35517,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
4,2011,1,Ciutat Vella,1,el Raval,65 years and more,6446,"POLYGON ((2.18345 41.39061, 2.18459 41.38976, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ...","POLYGON ((2.16471 41.38593, 2.16936 41.38554, ..."
...,...,...,...,...,...,...,...,...,...,...
2185,2018,10,Sant Martí,73,la Verneda i la Pau,65 years and more,7623,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
2186,2018,10,Sant Martí,73,la Verneda i la Pau,< 15 years,3491,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
2187,2019,10,Sant Martí,73,la Verneda i la Pau,15-64 years,17755,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
2188,2019,10,Sant Martí,73,la Verneda i la Pau,65 years and more,7580,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."
2189,2019,10,Sant Martí,73,la Verneda i la Pau,< 15 years,3456,"POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ...","POLYGON ((2.20736 41.42711, 2.20698 41.42665, ..."

In [127]:
living_alone = living_alone.merge(districts, on='District_code').merge(barris, on='Barri_code')
living_alone.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
living_alone = gpd.GeoDataFrame(living_alone, geometry=living_alone['geometry_barri'])

In [128]:
# living_alone dataset has a distinciton between men and women - here I create the same dataset, but with totals
living_alone_t = pd.DataFrame(living_alone.groupby(['Year', 'District_code', 'District_name', 'Barri_code', 'Barri_name','Age_group'])['Number'].sum())
living_alone_t.reset_index(inplace=True)
living_alone_t = living_alone_t.merge(districts, on='District_code').merge(barris, on='Barri_code')
living_alone_t.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
living_alone_t = gpd.GeoDataFrame(living_alone_t, geometry=living_alone_t['geometry_barri'])

In [129]:
# living_alone dataset has a distinciton between men and women - here I create the same dataset, but with totals
# for 3 age groups
living_alone_tg = pd.DataFrame(living_alone.groupby(['Year', 'District_code', 'District_name', 'Barri_code', 'Barri_name','Age_group2'])['Number'].sum())
living_alone_tg.reset_index(inplace=True)
living_alone_tg = living_alone_tg.merge(districts, on='District_code').merge(barris, on='Barri_code')
living_alone_tg.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
living_alone_tg = gpd.GeoDataFrame(living_alone_tg, geometry=living_alone_tg['geometry_barri'])

In [130]:
pop_density = pop_density.merge(districts, on='District_code').merge(barris, on='Barri_code')
pop_density.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
pop_density = gpd.GeoDataFrame(pop_density, geometry=pop_density['geometry_barri'])

In [131]:
monthly_rent = monthly_rent.merge(districts, on='District_code').merge(barris, on='Barri_code')
monthly_rent.rename(columns={'geometry_x': 'geometry_district', 'geometry_y': 'geometry_barri'}, inplace=True)
monthly_rent = gpd.GeoDataFrame(monthly_rent, geometry=monthly_rent['geometry_barri'])

In [132]:
geometries = gpd.points_from_xy(day_care_centres.Lon, day_care_centres.Lat)
day_care_centres = gpd.GeoDataFrame(day_care_centres, geometry=geometries)

In [133]:
geometries = gpd.points_from_xy(elderly_care_homes.Lon, elderly_care_homes.Lat)
elderly_care_homes = gpd.GeoDataFrame(elderly_care_homes, geometry=geometries)

In [134]:
geometries = gpd.points_from_xy(hospitals.Lon, hospitals.Lat)
hospitals = gpd.GeoDataFrame(hospitals, geometry=geometries)

In [135]:
geometries = gpd.points_from_xy(libraries_museums.Lon, libraries_museums.Lat)
libraries_museums = gpd.GeoDataFrame(libraries_museums, geometry=geometries)

In [136]:
geometries = gpd.points_from_xy(pharmacies.Lon, pharmacies.Lat)
pharmacies = gpd.GeoDataFrame(pharmacies, geometry=geometries)

In [137]:
geometries = gpd.points_from_xy(places_of_worship.Lon, places_of_worship.Lat)
places_of_worship = gpd.GeoDataFrame(places_of_worship, geometry=geometries)

In [138]:
geometries = gpd.points_from_xy(bus_stops.Lon, bus_stops.Lat)
bus_stops = gpd.GeoDataFrame(bus_stops, geometry=geometries)

In [139]:
geometries = gpd.points_from_xy(transport.Lon, transport.Lat)
transport = gpd.GeoDataFrame(transport, geometry=geometries)